<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expence | Confirm email</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body class="blue-grey darken-2 padding-sm">
    <div class="container padding-4">
      <div class="row center-align">
        <h3 class="white-text light">Expenceapp</h3>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="card-panel hoverable">
            <div class="card-content">
              <!-- VALID MESSAGE -->
              <% if (locals.valid) { %>

              <h4>Success</h4>
              <div>
                <section>
                  <p>Email succesfully confirmed.</p>
                  <p>You can now log into your account.</p>
                </section>

                <section>
                  <a
                    href="<%=locals.hosts.client%>/login"
                    class="btn waves-effect"
                    >Login</a
                  >
                </section>
              </div>

              <!-- INVALID MESSAGE -->
              <% } else { %>

              <h4>Could not confirm email.</h4>
              <div>
                <section>
                  <p class="red-text">Invalid or expired token.</p>
                </section>

                <section>
                  <a
                    href="<%=locals.hosts.client%>/login"
                    class="btn waves-effect"
                    >Back to app</a
                  >
                </section>
              </div>

              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
